body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    height: 500px;
    background-repeat: no-repeat;
}
section{
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: coral;
    padding: 10px 20px;
    border-radius: 5px;
}
