body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 450px;

    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border: ;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 50%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.middle{
    margin-left: 50px;
}
#full-stak{
    background-color: white;
    border-left: 7px solid ;
    border-image: linear-gradient( lightsalmon , tomato);
    border-image-slice: 1;
}
#starter{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}